<%- include('templateTop') %>
    <h1>
        <%= title %>
    </h1>
    <ul class="boardContainer">
        <% if(messages){ %>
            <% for( const message of messages ){ %>
                <li>
                    <div class="messageContainer">
                        <p><%= message.text %></p>
                        <div class="messageInfo">
                            <span><%= message.author %></span>
                            <span><%= message.date %></span>
                        </div>
                    </div>
                </li>
                <% }}else{ %>
                    <li>There are no messages.</li>
                <% } %>
    </ul>
<%- include('templateBottom') %>