<%- include('templateTop') %>
    <h1>
        <%= title %>
    </h1>
    <ul class="boardContainer">
        <% if(currentUser != undefined){ %>
            <% if(currentUser.isAdmin || currentUser.isMember){ %>
                <a class="fakeButton" href="/newMessage">Post a Message</a>
        <%}}%>
        <% if(messages){ %>
            <% for( const message of messages ){ %>
                <li>
                    <div class="messageContainer">
                        <p><%= message.text %></p>
                        <% if(currentUser != undefined){ %>
                            <div class="messageInfo">
                                <span><%= message.author %></span>
                                <span><%= message.date %></span>
                            </div>
                            <% if(currentUser.isAdmin){ %>
                                <form action="" method="POST">
                                    <div class="form-group">
                                        <input id='messageid' class="form-control" type="hidden" name="messageid" required="true" value=<%=message._id%>>
                                        <button class="btn btn-primary">Delete Message</button>
                                    </div>
                                </form>
                            <%}%>
                        <%}%>
                    </div>
                </li>
        <% }}else{ %>
            <li>There are no messages.</li>
        <% } %>
    </ul>
<%- include('templateBottom') %>