<%- include('templateTop') %>
    <h1>
        <%= title %>
    </h1>
    <ul class="boardContainer">
        <% if(messages){ %>
            <% for( const message of messages ){ %>
                <li>
                    <div class="messageContainer">
                        <p><%= message.text %></p>
                        <% if(currentUser != undefined){ %>
                            <div class="messageInfo">
                                <span><%= message.author %></span>
                                <span><%= message.date %></span>
                            </div>
                            <% if(currentUser.isAdmin){ %>
                                <button>Delete Message</button>
                            <%}%>
                        <%}%>
                    </div>
                </li>
                <% }}else{ %>
                    <li>There are no messages.</li>
                <% } %>
    </ul>
<%- include('templateBottom') %>